.card1{
    background-color: #049588;
    border-radius: 5px;
    width:100%;
    height: 100%;
    
    
}
.card2{
    background-color: #049588;
    border-radius: 5px;
    width:100%;
    height: 100%;
    color: white;
    
}

.card3{
    border: 1px solid #049588;
    border-radius: 5px;
    width:100%;
    height: 100%;
    
}
.im{
    padding-top: 15px;
    
    width: 45px;
    filter: invert(97%) sepia(3%) saturate(0%) hue-rotate(296deg) brightness(104%) contrast(104%);
}



.btn0{
    border: none;
    background-color: #ff9800;
}

.ip{
    width: 40px;
    filter: invert(36%) sepia(18%) saturate(6273%) hue-rotate(340deg) brightness(99%) contrast(96%);
}

.ip1{
    width: 40px;
    filter: invert(36%) sepia(59%) saturate(1327%) hue-rotate(140deg) brightness(100%) contrast(97%);
}

.ip2{
    width: 40px;
    filter: invert(66%) sepia(53%) saturate(3016%) hue-rotate(358deg) brightness(99%) contrast(107%);
}
.ip3{
    width: 40px;
    filter: invert(36%) sepia(59%) saturate(1327%) hue-rotate(140deg) brightness(100%) contrast(97%);
}
/* .nice{
    width: 350px;
} */

.div1{
    border: 1px solid #F84434;

}

.div2{
    border: 1px solid #049588;
    
}
.cours{
    margin-left: 100px;
    width: 100%;
}


.div3{
    border: 1px solid #ff9800;
    
}


.div4{
    border: 1px solid #049588;
    
}


.btn{
    background-color:#F84434 ;
    border-radius: 8px;
    color: white;
}

.wave1{
    background-color: #F84434;
    

   
}

.wave2{
    background-color: #F84434;
    

   
}

.svg2{
    height: auto;
}
.active5{
    padding-bottom: 60px;
}

.active3{
    padding-bottom: 420px;
}
.active4{
    margin-left: 1150px;
    padding-bottom: 975px;
}
.partenaires {
    
    background-color: #F0FAF9;border: none;
}

.di{
    width: 40px;
    filter: invert(97%) sepia(3%) saturate(0%) hue-rotate(296deg) brightness(104%) contrast(104%);
    
}
.s1{
    margin-left: 38px;
}
.jane{
    margin-left: 60px;
}
.footer{
    background-color: #049588;
    color: white;
}
.btn8{
    color: white;
    background-color: #F84434;
    border: none;
}
/* .ev{
    margin-left: 1000px;

    
} */
.part{
    margin-bottom: 100px;
}
.copyright{
    padding-top: 26Opx;
}
.card9 {
    width: 250px;
}
/* text */
